.advisory_bg_img {
  background-image: url(../../public/assets/images/advisory-bg-img.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
  height: 100vh;

  @media (max-width: 1024px) {
    background-image: url(../../public/assets/images/advisory-rwd.png);
    padding: 0;
    height: 100vh;
  }

  .advisory {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 32px 64px;

    @media (max-width: 1024px) {
      padding: 0;
      display: flex;
      flex-direction: column;
      align-items: normal;
      justify-content: space-between;
    }
    .advisory_logo {
      @media (max-width: 1024px) {
        padding: 32px;
      }
    }

    p {
      padding: 400px 70px 50px 70px;
      font-size: 16px;
      line-height: 24px;
      font-weight: 400;
      color: #f5f5f5;
      text-align: center;

      @media (max-width: 1024px) {
        font-size: 18px;
        padding: 300px 50px 100px 50px;
      }
      @media (max-width: 768px) {
        padding: 280px 50px 100px 50px;
        font-size: 16px;
      }

      @media (max-width: 415px) {
        padding: 470px 20px 100px 20px;
      }
      @media (max-width: 415px) {
        padding: 370px 20px 100px 20px;
      }
    }
    .signup {
      padding: 32px 64px;
      background: rgba(30, 30, 30, 0.16);
      backdrop-filter: blur(12px);
      @media (max-width: 1024px) {
        margin: 0;
        background-image: url(../../public/assets/images/advisory-rwd-bg-blur.png);
        backdrop-filter: blur(8px);
      }
      @media (max-width: 543px) {
        padding: 32px;
      }
      @media (max-width: 425px) {
        padding: 32px 22px;
      }
      .signup_info {
        h2 {
          padding-bottom: 24px;
          font-size: 22px;
          line-height: 26px;
          font-weight: 700;
          letter-spacing: 0.12em;
          @media (max-width: 1024px) {
            text-align: center;
          }
        }
        h6 {
          font-family: var(--font-light);
          font-size: 14px;
          font-weight: 500;
          line-height: 16px;
          padding-bottom: 8px;
          @media (max-width: 425px) {
            font-size: 12px;
          }
        }
        .mail {
          display: flex;
          gap: 8px;
          padding-bottom: 18px;
          align-items: center;
          width: 100%;
          border: 1px solid rgba(255, 255, 255, 0.3);
          border-radius: 5px;
          padding: 16px;
          margin-bottom: 18px;
          @media (max-width: 425px) {
            padding: 12px;
          }
        }
        input {
          background: none;
          border: none;
          outline: none;
          max-width: 100%;
          color: #fff;
          width: 180px;
          @media (max-width: 550px) {
            width: 100%;
            max-width: 100px;
          }
          @media (max-width: 425px) {
            font-size: 12px;
          }
        }
        select {
          border: none;
          background: transparent;
          color: #7777;
          outline: none;
          width: 100%;
          font-size: 16px;
          font-family: var(--font-semiBold);
          @media (max-width: 550px) {
            width: 100%;
            max-width: 100px;
          }
          @media (max-width: 425px) {
            font-size: 12px;
          }
        }
        .login_info {
          display: flex;
          justify-content: space-between;
          align-items: center;
          gap: 8px;
          padding-bottom: 18px;
          .personal_detials {
            display: flex;
            gap: 8px;
            padding: 16px;
            width: 100%;
            border: 1px solid rgba(255, 255, 255, 0.3);
            border-radius: 5px;
            @media (max-width: 425px) {
              padding: 12px;
            }
            input {
              @media (max-width: 425px) {
                font-size: 12px;
              }
            }
            .selectContent {
              option {
                font-family: var(--font-semiBold);
                font-size: 16px;
              }
            }
          }
        }
        .signup_btn {
          button {
            font-family: var(--font-light);
            padding: 16px;
            width: 100%;
          }
          @media (max-width: 1024px) {
            padding-bottom: 32px;
          }
        }
      }
    }
  }
  input {
    font-family: var(--font-light);
  }
}
